{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <header>BFDjango TODO</header>

    <div class="main_div">
        <button class="add_task_button">Add Task</button>
        {% block header %} {% endblock %}

        <table class="todos_table">
            <tr>
                <td>Task</td>
                <td>Created</td>
                <td>Due on</td>
                <td>Owner</td>
                <td>Mar</td>
            </tr>

            {% for todo in todos %}
                <tr>
                    <td><span class="task_name">{{ todo.name }}</span></td>
                    <td>{{ todo.created_at }}</td>
                    <td>{{ todo.due_on }}</td>
                    <td>{{ todo.owner }}</td>
                        <td>
                            <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
                            <form action="//127.0.0.1:8000/todos/{{ list_id }}/{{ todo.id }}/" method="post" target="dummyframe">
                                <input type="hidden" name="is_done" value="{{ todo.is_done }}" />
                                <button class="mark_button">
                                    {% if todo.is_done %}Done{% endif %}
                                    {% if not todo.is_done %}Not Done{% endif %}
                                </button>
                            </form>
                        </td>
                </tr>
            {% endfor %}

        </table>

        <button class="toggle_todos_button" onclick="{% block toggle_todos_button %}{% endblock %}"> View incomplete tasks</button>
        <button class="delete_list_button">Delete Task</button>
    </div>
</body>
</html>